h1{
    color: rgb(113, 192, 192);
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(98, 0, 255);
    padding: 50px;
    border: 5px red solid;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}